@media(max-width:767px){
    .product-list-desc{
        margin-top:10px;
    }
    .ctalink, .ctalink:hover{
        font-size:20px;
    }
    .topnavigation .navbar-nav>li{
        background:none;
        color:#FFF;
    }
    div.bhoechie-tab-menu div.list-group>a{
        font-size:14px;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -13px;
        border-bottom: 10px solid transparent;
        border-top: 10px solid #af1f8e;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}
@media(min-width:768px){
    nav.background_green > div > div > ul > li{
        font-size:15px;
    }
    nav.background_green > div > div > ul > li.current-menu-item{
        font-size:18px;
    }
    .socialnav{
        clear:both;
        display:block;
        margin-top: 20px;
        position:relative;
        text-align:center;
    }
    .socialnav.pull-right{
        float:none!important;
    }
    .menu-menu-principale-container{
        overflow: hidden;
    }
    .product-list-desc{
        margin-top:60px;
    }
    .ctalink, .ctalink:hover{
        font-size:20px;
    }
    .topnavigation .navbar-nav>li{
        border-right:solid 1px #ceb3cf;
    }
    div.bhoechie-tab-menu div.list-group>a{
        font-size:14px;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after{
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 10px solid #af1f8e;
    }
}
@media(min-width:992px){
    nav.background_green > div > div > ul > li{
        font-size:18px;
    }
    nav.background_green > div > div > ul > li.current-menu-item{
        font-size:21px;
    }
    .menu-menu-principale-container{
        overflow:visible;
    }
    .socialnav{
        clear:none;
        margin-right:20px;
        margin-top:0px!important;
        text-align:initial;
    }
    .socialnav.pull-right{
        float:right!important;
    }
    .ctalink, .ctalink:hover{
        font-size:15px;
    }
    .product-list-desc{
        margin-top:10px;
    }
}
@media(min-width:1200px){
    nav.background_green > div > div > ul > li{
        font-size:21px;
    }
    nav.background_green > div > div > ul > li.current-menu-item{
        font-size:24px;
    }
    .ctalink, .ctalink:hover{
        font-size:20px;
    }
}