@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
body{
    font-family: 'Lato', sans-serif;
}
p{
    font-size:16px!important;
}
.background_purple{
    background:#af1f8e!important;
    background-color:#af1f8e!important;
}
.background_green{
    background:#17BB3B!important;
    background-color:#17BB3B!important;
}
.background_orange{
    background:#FF6B1B!important;
    background-color:#FF6B1B!important;
}
.background_blue{
    background:#428bca!important;
    background-color:#428bca!important;
}
.background_red{
    background:#FC0000!important;
    background-color:#FC0000!important;
}
.background_white{
    background:#FFF;
}
.topnavigation{
    padding:35px 0;
    border:none;
    border-radius:0;
    -webkit-box-shadow: 0px 5px 6px 1px rgba(50, 50, 50, 0.89);
    -moz-box-shadow:    0px 5px 6px 1px rgba(50, 50, 50, 0.89);
    box-shadow:         0px 5px 6px 1px rgba(50, 50, 50, 0.89);
    margin-bottom:0!important;
    z-index:1000;
}
.topnavigation .navbar-brand{
    padding:0;
    height:auto!important;
}
.topnavigation .navbar-nav>li > a{
    color:#FFF!important;
    font-size:21px;
}
.topnavigation .navbar-nav>li.active > a{
    background:#812882!important;
}
.topnavigation > div > div > .navbar-toggle{
    background:#17BB3B!important;
    border:none;
}
.topnavigation > div > div > .navbar-toggle > .icon-bar{
    background:#FFF;
}
#slider-fixed{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:0!important;
    z-index:100000;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    top:40%!important;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
    right:30%
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
    left:30%;
}
#mainslider .carousel-control{
    z-index: 1000000;
}
hr.cloud{
    background:url(../images/hr-pattern.png);
    background-repeat:repeat-x;
    border-top:none!important;
    clear:both;
    display:block;
    float:none;
    height:69px;
    margin:10px 0;
    overflow:hidden;
    z-index:10000;
}
h3.homepage{
    border-bottom:solid 5px #009900;
    color:#C44290;
    font-size:40px;
    font-weight:bold;
    line-height:70px;
}
.bgmostvoted{
    background:url(../images/bg-most-voted.png);
    background-size:100% 100%;
    padding:40px;
}
.btn-camera-custom{
    background:url(../images/button-camera.png) no-repeat;
    width:250px;
    height:47px;
    color:#FFFFFF;
}
.btn-camera-custom:hover{
    color:#FFFFFF;
    text-decoration:underline;
}
.btn-camera-custom > span{
    display:inline-block;
    font-size:20px;
    margin:5px 62px;
}
.boxshadow{
    box-shadow: 0 0 10px #333;
}
#apphomepage{
    margin-top:30px;
    overflow:hidden;
}
#apphomepage > img{
    margin-top:20px;
    padding-left:0!important;
}
#apphomepage > p{
    margin-top:35px;
    font-style:italic;
    font-size:25px;
    color:#C44290;
}
#projecthomepage > div > div > p, .general-text{
    font-size:26px;
    line-height:34px;
}
#projecthomepage > div > div > p > img{
    margin-right:20px;
    margin-bottom:15px;
}
a.morelink{
    background:#C44290;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    color:#FFF;
    display:inline-block;
    font-size:20px;
    padding:5px 15px;
}
a.morelink:hover{
    background:#009900!important;
}

.roundedbox{
    background:#F6F6F6;
    border:solid 5px #C44290;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius:         60%  70%  90%  90%  / 60%   60%   60%  60%;
    display:block;
    padding:20px;
}
#pidonewslist > li{
    border-bottom:solid 1px #CCC;
    padding:10px 0;
    color:#C44290;
}
#pidonewslist > li > a{
    color:#C44290;
    font-size:15px;
    line-height:25px;
}
.ctalink{
    background:#FF6B1B;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    color:#FFF;
    display:inline-block;
    padding:5px 15px;
}
.ctalink:hover{
    background:#009900;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    color:#FFF;
    display:inline-block;
    padding:5px 15px;
}
.boxrounded{
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.noblock{
    display:inline!important;
}
.socialnav{
    color:#FFF;
    font-size:20px;
}
.col-mabottom{
    margin-bottom:20px;
    overflow:hidden;
}

@media only screen and (max-width : 768px) {
    .topnavigation .navbar-nav>li > a, .socialnav{
        font-size:15px!important;
    }
}
nav.background_green{
    border-radius:0!important;
}
nav.background_green > div > div > ul > li{
    font-size:20px;
}
nav.background_green > div > div > ul > li.active,
nav.background_green > div > div > ul > li.current-menu-item{
    background:#C44290!important;
    color:#FFF;
    font-size:25px;
}
nav.background_green > div > div > span.navbar-brand{
    color:#FFF;
    font-size:25px;
}
nav.background_green > div > div > ul > li > a{
    color:#FFF;
}
nav.background_green > div > div > ul > li > a:hover{
    color:#C44290!important;
}
nav.background_green > div > div > .navbar-toggle{
    background:#C44290!important;
}
nav.background_green > div > div > .navbar-toggle > .icon-bar{
    background:#FFF;
}
h3.bigh3title{
    font-size:35px;
    color:#17BB3B;
    font-weight:bold;
}
.product-list-chars{
    margin-top:20px;
    color:#C44290;
}
.text-colored{
    color:#C44290!important;
}
.padding-top-bottom{
    padding-top:15px;
    padding-bottom:15px;
}
.text_purple{
    color:#C44290!important;
}
.text_green{
    color:#17BB3B!important;
}
.text_orange{
    color:#FF6B1B!important;
}
.text_blue{
    color:#428bca!important;
}
.text_red{
    color:#FC0000!important;
}
.carousel-control{
    z-index:100000;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1920px;
}
.mediumtitle{
    font-size:25px;
    line-height:30px;
    color:#FFF;
    font-weight:bold;
}
.castle{
    position: absolute;
    display: inline-block;
    content: "";
    width:100%;
    height:100%;
    background: url(../images/castello.svg);
    background-size:cover;
}

.castle-before{
    display: block;
    position: relative;
    padding-bottom: 27%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
    vertical-align: middle; /* top | middle | bottom ... do what you want */
}
.castle-after{
    background:#C44290;
}
.text-white{
    color:#FFF!important;
}

.castle-svg{ /* svg into : object, img or inline */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* only required for <img /> */
}
@media only screen and (max-width : 480px) {
    .bordered-top{
        margin-top:40px;
        border-top:solid 10px #FFF;
    }
}

.btn-warning{
    background:#FF6B1B;
    border:none;
}
.btn-warning:hover{
    background:#009900;
}
.btn-success{
    background:#009900;
    border:none;
}
.btn-success:hover{
    background:#FF6B1B;
}
.boxshadow-light{
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
.contest-item-photo{
    margin-bottom:15px;
}
.border-bottom-gray{
    border-bottom:solid 1px #e7e7e7;
}

.polaroid-effect {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
    border-radius: 0%     0%     1%     0% /     0%     0%     0%     0%;
}
.polaroid-effect:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 95%;
    height: 92%;
    bottom: -1px;
    right: -10px;
    background: #eee;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.14);
    -webkit-transform: skew(-2deg,-2deg) translate(3px,8px);
    -moz-transform: skew(-2deg,-2deg) translate(3px,8px);
    -ms-transform: skew(-2deg,-2deg) translate(3px,8px);
    -o-transform: skew(-2deg,-2deg) translate(3px,8px);
    transform: skew(-2deg,-2deg) translate(3px,8px);
}
.polaroid-effect:after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 95%;
    height: 92%;
    bottom: -1px;
    right: -10px;
    background: #eee;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0,0,0,0.14);
    -webkit-transform: skew(-2deg,-2deg) translate(-6px,-3px);
    -moz-transform: skew(-2deg,-2deg) translate(-6px,-3px);
    -ms-transform: skew(-2deg,-2deg) translate(-6px,-3px);
    -o-transform: skew(-2deg,-2deg) translate(-6px,-3px);
    transform: skew(-2deg,-2deg) translate(-6px,-3px);
}
#gallery-container .col-lg-3{
    margin-bottom:50px;
}
.frame-orange{
    background:url(../images/frame.svg) no-repeat;
    background-size:contain;
    overflow:hidden;
    padding:9% 7%;
    margin-bottom:20px;
}
.fb_iframe_widget span iframe{
    z-index:2000;
}
.border_image{
    border:solid 9px;
}
.border_image.purple{
    border-color:#C44290;
}
.border_image.green{
    border-color:#009900;
}
.border_image.orange{
    border-color:#FF6B1B;
}
.h3gray{
    font-size:40px;
    font-weight:bold;
    color:#666;
}
.h4gray{
    font-size:25px;
    font-style:italic;
    font-weight:bold;
    color:#999;
}


/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a.active{
    border-color:#af1f8e!important;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #af1f8e;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #af1f8e;
    background-image: #af1f8e;
    color: #ffffff;
}


div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    right: 25px;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc( 100% - 75px );
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background:#FFF;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    right: 0px;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}



#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #4997cd;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #4997cd;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #4997cd;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #4997cd;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #4997cd;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #e2001a;
  font-size: 1.3em;
}

.ohidden{
    overflow:hidden;
    display:block;
}

.castle-bottom{
    min-height:550px;
    max-height:800px;
    overflow-y:scroll;
    
    background-image: url(../images/castle-footer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.product-list-item{
    margin:15px 0;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index:20000;
}
